<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.TaskMapper">

    <select id="selectAll" resultType="com.example.entity.Task">
        select * from task
        <where>
            <if test="kind != null">title like concat('%', #{kind}, '%')</if>
        </where>
    </select>

    <insert id="insert" parameterType="com.example.entity.Task">
        insert into `task` (username, kind, priority, content, note, tag, set, finsih, warn, state)
        values(#{username}, #{kind}, #{priority}, #{content}, #{note},  #{tag}, #{set}, #{finsih}, #{warn}, #{state})
    </insert>

    <update id="updateById" parameterType="com.example.entity.Task">
        update `task` set username = #{username}, kind = #{kind}, priority = #{priority}, content = #{content}, note = #{note}, tag = #{tag}, start = #{start}, finish = #{finish}, warn = #{warn}, state = #{state} where id = #{id}
    </update>

</mapper>